{% extends 'factures/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center">
    <div class="p-4">
        <div class="bg-white rounded-lg shadow-md">
            <h1 class="text-3xl font-bold p-4">Invoices</h1>
        </div>
    </div>
</div>

<form action="{% url 'factures:invoice-list' %}" method="post" class="p-4">
    {% csrf_token %}
    <div class="bg-white rounded-lg shadow-md">
        <header class="bg-gray-200 px-4 py-2 flex items-center justify-between">
            <p class="text-lg font-semibold">
                All Orders / Change Order Status &nbsp;
                <button class="rounded-full bg-blue-500 hover:bg-blue-600 px-4 py-2 text-white">
                    <a href="{% url 'factures:invoice-create' %}" class="text-white">Create Invoice</a>
                </button>
            </p>
        </header>
        <div class="p-4">
            <div class="overflow-x-auto">
                <table class="table-auto w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="px-4 py-2">#</th>
                            <th class="px-4 py-2">Invoice</th>
                            <th class="px-4 py-2">Client</th>
                            <th class="px-4 py-2">Date</th>
                            <th class="px-4 py-2">Due Date</th>
                            <th class="px-4 py-2">Subtotal</th>
                            <th class="px-4 py-2">Tax</th>
                            <th class="px-4 py-2">Total</th>
                            <th class="px-4 py-2">Payment Status</th>
                            <th class="px-4 py-2">Invoice Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr class="border-b border-gray-200">
                            <td class="px-4 py-2">
                                <input type="checkbox" value="{{ invoice.id }}" name="invoice_id" class="form-checkbox h-4 w-4 text-blue-500">
                            </td>
                            <td class="px-4 py-2">
                                <a href="{% url 'factures:invoice-edit' invoice.id %}" class="text-blue-500">{{ invoice.invoice_number }}</a>
                            </td>
                            <td class="px-4 py-2">{{ invoice.customer }}</td>
                            <td class="px-4 py-2">{{ invoice.date }}</td>
                            <td class="px-4 py-2">
                                {% if invoice.days_remaining > 0 %}
                                    Dans {{ invoice.days_remaining }} jours
                                {% elif invoice.days_remaining == 0 %}
                                    Aujourd'hui
                                {% else %}
                                    En retard de {{ invoice.days_remaining|abs }} jours
                                {% endif %}
                            </td>
                            <td class="px-4 py-2">{{ invoice.subtotal }}</td>
                            <td class="px-4 py-2">{{ invoice.tax }}</td>
                            <td class="px-4 py-2">{{ invoice.total_amount }}</td>
                            <td class="px-4 py-2 text-right">
                                {% if invoice.get_status %}
                                <span class="bg-green-500 text-green-100 px-2 py-1 rounded-full">Paid</span>
                                {% else %}
                                <span class="bg-red-500 text-red-100 px-2 py-1 rounded-full">Not Paid</span>
                                {% endif %}
                            </td>
                            <td class="px-4 py-2 text-right">
                                {% if invoice.draft %}
                                <span class="px-4 py-2">Draft</span>
                                {% else %}
                                <span class="px-4 py-2">Final</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br /><br /><br />
    <div class="bg-white rounded-lg shadow-md p-4 mt-4">
        <header class="bg-gray-200 px-4 py-2">
            <p class="text-lg font-semibold">Change Order Status</p>
        </header>
        <div class="p-4 flex items-center">
            <div class="inline-block relative w-32">
                <select id="status" name="status" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="1">Paid</option>
                    <option value="0">Not Paid</option>
                </select>
            </div>
            <button type="submit" class="ml-4 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full">Change Status</button>
        </div>
    </div>
</form>
{% endblock %}
