{% extends "factures/base.html" %}

{% block content %}
<br>
<section class="hero is-fullheight">
    <div class="container">
        <div class="card white-ter">
            <div class="hero-body">
                <form method="POST" action="">{% csrf_token %}
                    {% if invoice_id %}
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            <label>Invoice ID: {{ invoice_id }}</label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            {{ form.customer }}
                        </div>
                        <div class="column is-one-third">
                            {{ form.customer_email }}
                        </div>
                        <div class="column is-one-third">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            {{ form.billing_address }}
                        </div>
                        <div class="column is-one-third">
                            {{ form.date }}
                        </div>
                        <div class="column is-one-third">
                            {{ form.due_date }}
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            {{ form.tax_percentage }}
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            <label>Status</label>
                            <select name="draft" class="input" id="draft" onchange="toggleInputs()">
                                <option value="1" {% if invoice.draft %}selected{% endif %}>Draft</option>
                                <option value="0" {% if not invoice.draft %}selected{% endif %}>Completed</option>
                            </select>
                        </div>
                    </div>
                    <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                        <thead>
                            <tr>
                                <th>Product/Service</th>
                                <th>Description</th>
                                <th>QTY</th>
                                <th>RATE</th>
                                <th>AMOUNT$</th>
                                <th>ADD</th>
                            </tr>
                            {{ formset.management_form }}
                        </thead>
                        <tbody id="line-item-forms">
                            {% for form in formset %}
                            <tr>
                                <td>{{ form.service }}</td>
                                <td>{{ form.description }}</td>
                                <td>{{ form.quantity }}</td>
                                <td>{{ form.rate }}</td>
                                <td class="amount">{{ form.amount.value }}</td>
                                <td>
                                    <div class="input-group-append">
                                        <button class="button is-small btn btn-success add-form-row" type="button">+</button>&nbsp;
                                        <button class="button is-small btn btn-danger remove-form-row" type="button">-</button>
                                    </div>
                                </td>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row spacer">
                        <div class="col-4 offset-2">
                            <button type="submit" class="button btn btn-block is-info is-half">Save</button>
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-4">Total($): <span id="total"></span></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
</section>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#id_date", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });
        flatpickr("#id_due_date", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });

        calc_total();
        toggleInputs();
    });

    function toggleInputs() {
        var draftSelector = document.getElementById('draft');
        var isDraft = draftSelector.value === '1';
        var inputs = document.querySelectorAll('form input, form select, form textarea, form button');
        
        inputs.forEach(function(input) {
            if (input.id !== 'draft' && input.type !== 'submit') {
                input.disabled = !isDraft;
            }
        });
    }

    $('table input').on("input", function () {
        var $tr = $(this).closest('tr');
        var rate = $("input[name*='-rate']", $tr).val();
        var quantity = $('input[name*="-quantity"]', $tr).val();
        var amount = rate * quantity;
        $('.amount', $tr).html(amount.toFixed(2));
        calc_total();
    });

    function calc_total() {
        var sum = 0;
        $(".amount").each(function () {
            var value = parseFloat($(this).text());
            if (!isNaN(value)) {
                sum += value;
            }
        });
        $('#total').text(sum.toFixed(2));
    }

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            var name = $(this).attr('name');
            if (name) {
                name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function () {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr({ 'for': forValue });
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('tr').remove();
            var forms = $('#line-item-forms tr');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row', function (e) {
        e.preventDefault();
        cloneMore('#line-item-forms tr:last', 'form');
        return false;
    });

    $(document).on('click', '.remove-form-row', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>
{% endblock %}
