<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice #{{ invoice_id }}</title>
    <link rel="stylesheet" href="{% static 'css/invoice-template-1.css' %}" media="all" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>


<body class="bg-gray-100 p-8">
    <div class="mx-auto max-w-4xl rounded-lg bg-white p-8 shadow-lg">

        <div class="mt-8 items-center justify-between">  
            <div>
                <img src="http://localhost:8000/static/img/logo.jpg" alt="Company Logo" class="mb-1 h-16" />
                <div class="border-t border-gray-900"></div>
                <address class="mt-1 text-gray-600">
                  R & S Telecom<br />
                  8 Rue Des Freres Caudron<br />
                  78140 - Velizy-Villacoublay<br />
                  Sitret: 804-963-403-000-30 <br />
                  Contact@rs-telecom.fr <br />
                  Tel: +33 963 57 28 32 <br />
                </address>
            </div>
        </div>

        <div class="flex justify-between">
            <div></div>
            <address class="mr-28 text-gray-600">
            {{ customer }}<br />
            {{ billing_address }}<br />
            {{ customer_email }}<br />
            </address>
        </div>
        <h1 class="mt-8 text-2xl font-bold"> {{ invoice_id }}</h1>
        <br>

        <div class="flex justify-between">
            <div>
              <label>Date de la facture</label>
              <br>
              <b>{{ date }}</b>
              <br>
            </div>

            <div>
              <label>Date d'échéance</label>
              <br>
              <b>{{ due_date }}</b>
              <br>
            </div>
        </div>

        <table class="invoice-details">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESCRIPTION</th>
                    <th class="unit">PRIX UNITAIRE</th>
                    <th class="qty">QUANTITÉ</th>
                    <th class="total">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lineitem %}
                <tr>
                    <td class="no">{{ forloop.counter }}</td>
                    <td class="desc">{{ item.description }}</td>
                    <td class="unit">{{ item.rate }} €</td>
                    <td class="qty">{{ item.quantity }}</td>
                    <td class="total">{{ item.amount }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Montant HT</td>
                    <td>{{ subtotal }} €</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">TVA {{ invoice.tax_percentage }}%</td>
                    <td>{{ tax }} €</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Total</td>
                    <td>{{ invoice_total }} €</td>
                </tr>
            </tfoot>
        </table>

        <div class="mt-8">
            <div class="border-t border-gray-300"></div>
            <div class="mt-2 text-center text-sm text-gray-600">
              Contact Information: info@company.com | (123) 456-7890<br />
              This document is generated electronically and does not require a signature.
            </div>
        </div>
    </div>
  </body>
</html>
